<%= form_with(model: paper_review) do |form| %>
  <% if paper_review.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(paper_review.errors.count, "error") %> prohibited this paper_review from being saved:</h2>

      <ul>
        <% paper_review.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :paper_id, style: "display: block" %>
    <%= form.text_field :paper_id %>
  </div>

  <div>
    <%= form.label :author_id, style: "display: block" %>
    <%= form.text_field :author_id %>
  </div>

  <div>
    <%= form.label :review, style: "display: block" %>
    <%= form.text_area :review %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.number_field :rating %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
