<div id="<%= dom_id paper_review %>">
  <p>
    <strong>Paper:</strong>
    <%= paper_review.paper_id %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= paper_review.author_id %>
  </p>

  <p>
    <strong>Review:</strong>
    <%= paper_review.review %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= paper_review.rating %>
  </p>

</div>
